body{
  background-color: rgba(91, 93, 32, 1);
  height: 100vh;
  color: white;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
}

.content_paypal{
  max-width: 395px;
  margin: auto;
  }

.content_paypal a{
  color: black;
}
